<%- include("top.ejs") %>
    <div class="chat-container">
      <header class="chat-header">
        <h1>BotLane</h1>
        <a id="leave-btn" class="btn">Quitter le chat</a>
      </header>
      <main class="chat-main">
        <div class="chat-messages">
		</div>
      </main>
      <div class="chat-form-container">
        <form id="chat-form">
          <input
            id="msg"
            type="text"
            placeholder="Entrer votre message ici..."
            required
            autocomplete="off"
          />
          <button class="btn">Envoyer</button>
        </form>
      </div>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.2/qs.min.js"
      integrity="sha256-TDxXjkAUay70ae/QJBEpGKkpVslXaHHayklIVglFRT4="
      crossorigin="anonymous"
    ></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
